<div class="container">
  <div class="row">
    <div class="col-xs-3">    
      <h3>管理者画面</h3>
      <!-- 詳細ページを作成後、リンクを作成する -->
      <h5>本日の注文件数 <%= @orders.count %>件</h5>   
    </div>
  </div>
</div>  

